@import "src/core/styles/common";

.menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid $grey500;
  overflow: auto;
}

.menuItem{
  @include fontFamily(Rubik);
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  gap: 16px;
  word-wrap: break-word;
}

.menuItemHeader{
  @include fontFamily(Rubik);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  background: $green300;
  gap: 16px;
  padding: 10px 0;
  margin-bottom: 16px;
}

.itemContainer{
  all: unset;
  text-align: center;
  word-wrap: break-word;
  width: 25%;
  min-width: 50px;
}

.cursorPointer{
  cursor: pointer;
}


.iconWrapper{
  cursor: pointer;
  color: $red
}
